# Main Librairies
pandas==2.3.2
dotenv==0.9.9

# Vusualization
matplotlib==3.8.4
seaborn==0.13.2

# NLP
nltk==3.9.1
wordcloud==1.9.4
gensim==4.3.3
pyspellchecker==0.8.3

# Machine Learning
scikit-learn
ipywidgets==8.1.7
mlflow==2.11.4
tensorflow-macos
tensorflow-metal==1.2.0
ipykernel

transformers==4.57.0
torch==2.8.0

streamlit==1.50.0
plotly==6.3.1
# Add FastAPI and related packages
fastapi==0.110.0
uvicorn==0.30.0
pydantic==2.7.0
requests==2.32.3

# Unit testing
pytest==8.4.2

# Azure Application Insights
opencensus-ext-azure==1.1.15
opencensus-ext-logging==0.1.1
opencensus-ext-threading==0.1.2
opencensus-ext-requests==0.8.0
